.background-effect {
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.background-effect .grid {
    position: fixed;
    inset: 0;
    display: grid;
    gap: var(--gap);
}

.background-effect .cell {
    border-radius: 0px;
    will-change: transform, background, box-shadow;
}

.background-effect .cursor {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, #fff, rgba(255, 255, 255, .5));
    mix-blend-mode: screen;
}

body {
    margin: 0;
    background: #0b0b0c;
    color: white;
    font-family: sans-serif;
}