* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NeueKaine;
}

@font-face {
    font-family: NeueKaine;
    src: url(fonts/neue-kaine-variable.woff), url(fonts/neuekaine-black.ttf) url(fonts/neuekaine-bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: NeueKaineBlack;
    src: url(fonts/neuekaine-black.ttf);
    font-style: normal;
}

li {
    list-style: none;
}

.container {
    max-width: 1440px;
    height: 100%;
    margin: auto;
}

.project-home ul {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 5em;
    text-transform: uppercase;
    font-family: NeueKaine;
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: #6FFC7B;
}

ul a {
    color: #919191;
    font-weight: 500;
}

.active {
    color: #6FFC7B;
}

.project-home ul ion-icon {
    width: 35px;
    height: 35px;
    background-color: #656465;
    color: #121212;
    border-radius: 100%;
}

body {
    background-color: #121212;
}

header {
    height: auto;
}

#project {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.project-information div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-information p {
    font-family: 'Roboto';
}

.project-home {
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.project-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: 70%;
    padding-bottom: 50px;

}

.project-img {
    width: 45%;
    height: 70%;
    border-radius: 300px 0 0 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
}

.project-img img {
    width: 100%;
    object-fit: cover;
}


/* GALLERY */

/* LIVRET */

.presentation h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.presentation {
    padding: 100px 0;
}

.contain-livret {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.livret {
    width: 350px;
    max-width: 90vw;
}

.livret:hover {
    transform: scale(.99);
    transition: 0.7s ease-out;
}

.livret img {
    width: 100%;
    object-fit: cover;
}

/* NAOTEC */

/* SITE */

.contain-site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.site {
    display: flex;
    justify-content: center;
    width: 80%;
}

.site img {
    width: 100%;
    object-fit: cover;
}

/* CATALOGUES */

#catalogues h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 3em 0;
}

#catalogues {
    width: 100%;
    padding: 4em 0;
}

.ligne {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    height: 100%;
    align-items: center;

}

.couv {
    width: 20%;
}

.couv img {
    width: 100%;
    object-fit: cover;
}



/* FOOTER */

footer {
    width: 100%;
    height: 30vh;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.fin {
    border-top: 2px solid #656465;
    display: flex;
    height: 40%;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width:1550px) {
    h1 {
        font-size: 4em;
    }
    .project-information {
        padding-left: 4em;
        width: 50%;
    }
}

@media (max-width:992px) {
    h1 {
        font-size: 3em;
    }
    .container {
        padding: 0;
    }

    #project {
        height: auto;
    }
    .project-home {
        flex-direction: column-reverse;
        align-items: center;
    }
    .project-home ul {
        flex-wrap: wrap;
    }
    .project-information {
        width: 90%;
        padding-left: 0;
        padding: 2em 0;
        height: 100%;
        gap: 50px;
    }
    .project-img {
        position: relative;
        border-radius: 0;
        width: 100%;
        text-align: center;
    }

    .presentation {
        height: 100%;
    }

    /* NAOTEC */
    /* SITE */

    .contain-site {
        height: 50%;
    }
    .site {
        width: 100%;
        overflow: hidden;
    }


    /* CATALOGUES */
    .ligne {
        padding: 0 4em;
    }
    .couv {
        flex:1 0 25% ;
    }

    /* FOOTER */
    footer {
        height: 50vh;
    }
}

@media (max-width:768px) {
    /* CATALOGUES */

    .ligne {
        flex-direction: column;
    }

    .couv {
        width: 80%;
    }

    /* SITE */
    .contain-site {
        width: 100%;
    }

    .site img {
        width: 200%;
    }

}