* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: NeueKaine;
    src: url(fonts/neue-kaine-variable.woff), url(fonts/neuekaine-black.ttf) url(fonts/neuekaine-bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: NeueKaineBlack;
    src: url(fonts/neuekaine-black.ttf);
    font-style: normal;
}

li {
    list-style: none;
}

.container {
    max-width: 1440px;
    height: 100%;
    margin: auto;
}

.titre-container ul {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 5em;
    text-transform: uppercase;
    font-family: NeueKaine;
    font-weight: 600;
}

h2 {
    width: 100%;
    font-size: 2rem;
    text-align: left;
    flex-grow: 1;
}

ul a {
    color: #919191;
    font-weight: 500;
}

.active {
    color: #6FFC7B;
}

.titre-container ul ion-icon {
    width: 35px;
    height: 35px;
    background-color: #919191;
    color: #121212;
    border-radius: 100%;
}

body {
    background-color: #121212;
}

header {
    height: auto;
}

#all-projects {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.titre-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding-top: 300px;
    width: 100%;
}

.titre {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titre-container {
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}


/* CARROUSEL DE PROJETS */

.carousel {
    width: 100%;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 100px;
}

.projects {
    background: linear-gradient(to top, #121212 0%, #12121200 100%);
}

.card {
    color: #fff;
    width: 40%;
    min-width: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow: hidden;
    border-radius: 20px;
    min-height: 100%;
    height: auto;
    align-content: center;
    backdrop-filter: blur(30px);
    background-color: #121212c9;
    box-shadow: 0px 0px 20px rgba(227, 228, 237, 0.159);
    border: 2px solid rgba(255, 255, 255, 0.18);
}

.project-illustration {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-color: #2B2B2B;
    background-size: cover;
}

.project-illustration img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.project-illustration img:hover {
    transform: scale(1.1);
    transition: 0.7s ease-out;
}

.project-information {
    padding: 2em;
    display: flex;
    width: 100%;
    height: 30%;
}

.project-text {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    width: 100%;
    font-size: 2rem;
    text-align: left;
    flex-grow: 1;
}

.project-text button {
    height: 50px;
}

.project-text button a {
    color: #121212;
}

.project-text button:hover a {
    color: #fff;
}

.project-text button:hover {
    transform: scale(1.05);
    transition: 0.5s;
    border: solid 2px #6FFC7B;
    background-color: transparent;
}

.project-text p {
    font-family: 'Roboto';
    text-align: left;
    font-size: 1rem;
    flex: 1 0 50%;
}


/* FOOTER */

footer {
    width: 100%;
    height: 30vh;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.fin {
    border-top: 2px solid #656465;
    display: flex;
    height: 40%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

@media (max-width:1550px) {
    #all-projects .container {
        padding: 0 4em;
    }
}

@media (max-width:992px) {
    h1 {
        font-size: 3em;
    }
    .titre-elements {
        font-size: 1em;
        flex-direction: column;
    }
    .titre {
        width: 100%;
    }
    #all-projects .container {
        padding: 1em;
    }
    .titre-container {
        align-items: center;
        width: 100%;
    }
    .titre-container ul {
        flex-wrap: wrap;
    }
    .titre-information {
        width: 100%;
        padding: 2em 0;
        justify-content: center;
        align-items: center;
    }
    /* MES PROJETS CARD */
    .card {
        width: 100%;
    }
    .project-text p {
        flex: 1 0 70%;
    }
}

@media (max-width:768px) {
    /* MES PROJETS CARD */
    .project-text a,
    .project-button {
        width: 100%;
    }
    .project-text p {
        width: 100%;
    }
    .carousel {
        flex-direction: column;
        width: 100%;
    }
}