* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: NeueKaine;
    src: url(fonts/neue-kaine-variable.woff), url(fonts/neuekaine-black.ttf) url(fonts/neuekaine-bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: NeueKaineBlack;
    src: url(fonts/neuekaine-black.ttf);
    font-style: normal;
}

li {
    list-style: none;
}

.container {
    max-width: 1440px;
    height: 100%;
    margin: auto;
}

.profil-container ul {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.profil-information {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

h1 {
    font-size: 5em;
    text-transform: uppercase;
    font-family: "NeueKaine";
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: #6FFC7B;
}

ul a {
    color: #919191;
    font-weight: 500;
}

.active {
    color: #6FFC7B;
}

.profil-container ul ion-icon {
    width: 35px;
    height: 35px;
    background-color: #919191;
    color: #121212;
    border-radius: 100%;
}

body {
    background-color: #121212;
}

header {
    height: auto;
}

#qui {
    width: 100%;
    overflow: hidden;
}

.titre {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profil-container {
    color: #fff;
    padding-top: 300px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.box {
    display: flex;
    gap: 50px;
    align-items: center;
}

.profil-elements p, p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.5em;
}

.profil-elements a {
    font-family: "Roboto", sans-serif;
    color: #6FFC7B;
    text-decoration: none;
}

.profil-elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 0 1 100%;
}

.profil-photo {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: #656465;
}

.profil-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* LOGICIELS PREFERES */

h3 {
    color: #fff;
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

#logipref p,
#competences p {
    line-height: 1.5;
}

#logipref,
#competences {
    width: 100%;
    padding-top: 4em;
}

.logiciel-logo {
    width: 125px;
    height: 125px;
    background-color: #656465;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.logiciel-logo img,
.competences-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logiciel-container,
.competences-container {
    display: flex;
    gap: 20px;
    padding: 2em 0;
}

.logiciel-card,
.competences-card {
    display: flex;
    color: #fff;
    align-items: center;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 15px;
    gap: 30px;
    flex: 1 1 50%;
    border: #373737 2px solid;
}

.logiciel-card:hover,
.competences-card:hover {
    transform: scale(1.02);
    transition: all 1s;
}

.logiciel-info,
.competences-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* COMPETENCES */

.competences-image {
    height: 100%;
    background-color: #656465;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    flex: 1 1 50%;
}

.competences-card {
    height: 30vh;
    flex: 1 1 40%;
}

.competences-container {
    flex-wrap: wrap;
}

.competences-info {
    flex: 1 1 50%;
    gap: 30px;
}


/* FOOTER */

footer {
    width: 100%;
    height: 30vh;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.fin {
    border-top: 2px solid #656465;
    display: flex;
    height: 40%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

@media (max-width:1550px) {
    #qui .container {
        padding: 0 4em;
    }
    #logipref .container,
    #competences .container {
        padding: 0 4em;
    }
}

@media (max-width:992px) {
    /* CONTAINER */
    #qui .container {
        padding: 2em;
    }
    #logipref .container,
    #competences .container {
        padding: 0 2em;
    }
    /* PROFIL */
    h1 {
        font-size: 3em;
        text-align: left;
    }
    .profil-elements {
        font-size: 1em;
    }
    .titre {
        width: 100%;
    }
    .profil-container ul {
        flex-wrap: wrap;
    }
    .box {
        flex-direction: column;
        align-items: flex-start;
    }
    .profil-container {
        padding-top: 100px;
    }
    /* LOGICIELS PREFERES */
    .logiciel-container,
    .competences-container {
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .profil-photo {
        width: 100%;
    }
    /* LOGICIELS PREFERES */
    .logiciel-card {
        flex-direction: column;
        align-items: flex-start;
    }
    /* COMPETENCES */
    .competences-card {
        flex-direction: column;
    }
    .competences-image {
        width: 100%;
        flex: 1 0 70%;
    }
    .competences-info {
        flex: 0 1 30%;
    }
}