#galerie {
    background-color: #121212;
    width: 100vw;
    padding-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-projet {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.img-projet article {
    flex: 1 0 25%;
    max-height: 500px;

}

.img-projet .img-important {
    flex: 1 0 100%;
}



#galerie img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

@media (max-width:768px) {

    .img-projet article {
        flex: 1 1 100%;
    }
}